.img_building_first {
  background-image: url(./img/image_building.png);
  background-size: 100% 100%;
  width: 100vw;
  height: 80vh;
}

.img_building_first > h1 > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  padding: 10px;
  margin: 10px;
}
